* {
    font-family: "Open Sans", Arial, sans-serif;
}
.page-bg {
    background-color: #000000;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100vh;
    font-weight: 600;
    color: yellow;
    overflow: hidden;
}
.episode {
    position: absolute;
    max-width: 886px;
    height: 578px;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow: hidden;
    transform: perspective(250px) rotateX(30deg);
    transform-origin: 50% 60%;
}
.star-wars {
    position: absolute;
    top: 100%;
    font-size: 36px;
    text-align: justify;
    animation-name: spaceWay;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 0ms;
}
.title {
    text-align: center;
}
@keyframes spaceWay {
    0% {
      top: 100%
    }
    100% {
        top: -200%;
    }
}
