.caption {
    font-size: 48px;
    color: cadetblue;
}

.text {
    max-width: 450px;
    margin: 20px 0;
    padding: 0 15px;
    font-size: 14px;
    text-transform: capitalize;
    font-style: italic;
}

.box {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
}
.box_red {
    background-color: red;
}
.card {
    border: 1px solid #000;
    max-width: 250px;
}
