html {
  font-size: 10px;
}

.top-zone a {
  color: #0f0
}

.link {
  color: rebeccapurple;
}

.container {
  width: 128rem;
  margin: 0 auto;
}

.block-child-wrapper {
  display: inline-block;
  box-sizing: border-box;
  width: calc(100% / 5);
  height: 200px;
  padding: 20px;
}

.block-child {
  height: 100%;
  background-color: teal;
}

.gallery-item {
  display: inline-block;
  width: calc((100% / 3) - (2 * 0.2rem));
}

.gallery-img {
  width: 12rem;
}

.gallery-text {
  font-size: 1rem;
}

.gallery-em {
  font-size: 10px;
}

.gallery-em-item {
  display: inline-block;
  width: 30em;
  font-size: 20px;
}

.gallery-em-img {
  width: 10em;
}

.gallery-em-text {
  font-size: 1.1em;
}
















