* {
    font-family: 'Ubuntu', Arial, sans-serif;
}

.card {
    width: 300px;
    margin: 30px auto;
}
.price-card {
    width: 100%;
    padding: 20px 0;
    border-radius: 6px;
    border: 5px solid #F2F2F2;
    background-color: transparent;
    font-size: 18px;
    color: #BEBEBE;
    text-transform: capitalize;
    margin: 20px auto;
}