* {
    font-family: 'Open Sans', Arial, sans-serif;
}
.cub-circle {
    width: 100px;
    height: 100px;
    display: flex;
    background-color: #1eb8ff;
    margin: 50px;
    justify-content: center;
    align-items: center;
    /*animation: nameCubeCircle 1s linear infinite;*/
    animation-name: nameCubeCircle;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}

@keyframes nameCubeCircle {
    0% {
        transform: translate(0);
    }
    /*50% {*/
    /*    border-radius: 50%;*/
    /*}*/
    100% {
    transform: translate(200px);
}




}