* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
a {
    text-decoration: none;
}
.nav-container {
    width: 1280px;
    margin: 0 auto;
}
.head-menu {
    text-align: center;
    padding: 32px 0;
}
.head-menu-red-text {
    color: #ff0000;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1.7px;
    text-transform: uppercase;
    margin: 0 30px;
}
.article-img {
    width: 100%;
}
.article-centered {
    padding: 50px 0;
    text-align: center;
}
.page-main-title {
    margin: 0 0 56px;
    text-transform: uppercase;
    font-size: 22px;
    letter-spacing: 2.7px;
    color: #373737;
}
.page-main-text {
    margin: 25px 0;
    font-size: 16px;
    letter-spacing: 1.6px;
}
.button-text {
    display: inline-block;
    color: #FFFFFF;
    background-color: #ff0000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    padding: 16px 24px;
    letter-spacing: 1.8px;
}
.copyright {
    padding: 30px 0;
}
.sign-contacts {
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    color: #373737;
    letter-spacing: 2.4px
}