.container {
  width: 1280px;
  margin: 0 auto;
}

.block {
  padding: 0 0 100px ;
  background-color: teal;
  margin: 10px 0;
  font-weight: bold;
  color: white;
}

/*.block:nth-child(4) {*/
/*  position: relative;*/
/*  top: 17px;*/
/*  right: 30px;*/
/*  box-shadow: 0 0 60px 0 slategray;*/
/*}*/

.call-me {
  position: fixed;
  right: 18px;
  bottom: 24px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: palegreen;
}

.navbar {
  box-sizing: border-box;
  /*position: fixed;*/
  top: 0;
  padding: 20px;
  background-color: lime;
}

.navbar-yellow {
  background-color: yellow;
}

.purchases {

}

.purchase-item {
  position: relative;
  display: inline-block;
  padding: 75px 30px;
  background-color: slategray;
  margin: 0 30px;
}

.purchase-item:hover {
  bottom: 40px;
}

.square {
  position: absolute;
  top: 70px;
  width: 100px;
  height: 100px;
  background-color: #22aa4460;
}

.double-block {
  padding: 100px 0;
  background-color: #ff00ff;
}

.square-parent {
  position: relative;
}

.nav-sticky {
  position: sticky;
  top: 20px;
}














