* {
    font-family: Roboto, Arial, sans-serif;
}
.page-bg {
    background: url("../img/background.png") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: scroll;
}
.nav-container {
    width: 1050px;
    margin: 0 auto;
}
.header-zone {
    margin-top: 60px;
    margin-bottom: 30px;
}
.company-name {
    float: left;
    width: 155px;
}
.company-logo {
    float: left;
    margin-right: 8px;
}
.company-name-text {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 1.1;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}
.low-text {
    display: block;
    font-size: 20px;
    line-height: 0.7;
    font-weight: bold;
}
.company-name:hover .company-name-text {
    color: #F26522;
}
.company-name:hover .company-logo{
    content: url("../img/logotype-2.png");
}
.company-contacts {
    float: right;
    width: 220px;
}
.company-contacts-text {
    float: right;
    font-size: 18px;
    line-height: 1.3;
    color: #FFFFFF;
}
.company-contacts-text:hover {
    color: #F26522;
}
.tour-card {
    float: left;
    width: calc(100% / 3 - 30px);
    margin-right: 45px;
    margin-bottom: 40px;
}
.tour-card-img {
    padding-top: 160px;
}
.tour-card-shopping {
    background: url("../img/Layer 21.png") no-repeat;
    background-size: cover;
}
.tour-card-sightseeing {
    background: url("../img/Layer 22.png") no-repeat;
    background-size: cover;
}
.tour-card-food {
    background: url("../img/Layer 23.png") no-repeat;
    background-size: cover;
}
.tour-card-bars {
    background: url("../img/Layer 24.png") no-repeat;
    background-size: cover;
}
.tour-card-art {
    background: url("../img/Layer 26.png") no-repeat;
    background-size: cover;
}
.tour-card-walking {
    background: url("../img/Layer 25.png") no-repeat;
    background-size: cover;
}
.tour-card:nth-child(3n) {
    margin-right: 0;
}
.tour-card-text {
    text-align: center;
    font-size: 18px;
    line-height: 1.3;
    color: #FFFFFF;
    margin: 18px;
}
.tour-card:hover .tour-card-description {
    opacity: 1.0;
    top: 0;
}
.tour-card:hover .tour-card-text {
    color: #F26522;
}
.tour-card-description {
    padding: 15px;
    background: #F26522;
    opacity: 0.0;
    top: 100%;
    transition: all .9s;
}
.description-value {
    float: left;
    font-size: 20px;
    line-height: 1.1;
    color: #FFFFFF;
}
.description-value::before {
    content: 'from';
    font-size: 10px;
    line-height: 1.5;
    color: #FFFFFF;
    display: block;
}
.description-details {
    float: right;
    font-size: 14px;
    line-height: 1.4;
    color: #FFFFFF;
    margin-top: 15px;
}
.description-details::after {
    content: '';
    display: inline-block;
    width: 6px;
    height: 6px;
    border: 2px solid transparent;
    border-top-color: #FFFFFF;
    border-right-color: #FFFFFF;
    transform: rotate(45deg);
    margin-left: 15px;
}
.copyright {
    margin-bottom: 15px;
}
.copyright-text {
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
    color: #FFFFFF;
}


.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
