* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

section {
    padding: 70px 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.page-head {
    padding: 400px 0 110px 0;
}

.page-head-bg {
    background: url("../img/main-top-background.png");
    background-size: cover;
}

.page-head-title {
    font-size: 48px;
    text-transform: uppercase;
    color: #fff;
}

.page-head-subtitle {
    font-size: 18px;
    color: #fff;
}

.page-head-slogan {
    display: inline-block;
    text-transform: uppercase;
    font-size: 54px;
    color: #fff;
    padding: 35px 25px;
    margin-top: 20px;
    background-color: rgba(0,0,0, 0.4);
    border: 1px solid #fff;
    border-radius: 3px;
}

.text-block {
    text-align: center;
}

.text-block-title {
    /*fsz22*/
    font-size: 22px;
    /*ttu*/
    text-transform: uppercase;
    margin-bottom: 35px;
}

.text-block-subtitle {
    font-size: 17px;
}

.text-block-highlight {
    /*w61*/
    width: 61px;
    border-top: 4px solid #F1AD1D;
    margin: 50px auto 0;
}




.yellow-text {
    color: #F1AD1D;
}

.mr35 {
    margin-right: 35px;
}







