.container {
  width: 1170px;
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
}

.container:nth-child(2) {
  margin-top: 70px;
}

.nav-top-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.nav-top {
  padding: 20px 0;
  background-color: white;
}

.nav-top-company {
  float: left;
  font-weight: 700;
  font-size: 26px;
  text-transform: uppercase;
  color: #f1b128;
}

.nav-top-menu {
  float: right;
  margin-top: 3px;
}

.nav-top-item {
  position: relative;
  display: inline-block;
  margin-right: 65px;
}


.nav-top-item:last-of-type {
  margin-right: 0;
}

.nav-top-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  color: #3d3d3d;
}

.nav-top-link-dropdown::after {
  content: '';
  border: 4px solid transparent;
  border-top-color: inherit;
  position: absolute;
  top: 40%;
  right: -10px;
}

.nav-top-link:hover {
  color: #f1b128;
}

.services {

}

.services-gallery {
  width: calc(100% / 2 - 15px);
  float: left;
}

.services-gallery-item {
  position: relative;
  float: left;
  width: calc(100% / 2 - 15px);
  margin-right: 30px;
  margin-bottom: 25px;
}

.services-gallery-item:nth-child(2n) {
  margin-right: 0;
}

.services-img {
  width: 100%;
}

.services-name {
  position: absolute;
  left: 15px;
  bottom: 15px;
  width: 120px;
  padding: 15px;
  background-color: #333;
  color: white;
}

.services-description {
  width: calc(100% / 2 - 15px);
  float: right;
}
















.clearfix::after {
  content: '';
  display: block;
  clear: both;
}