.container {
  width: 1280px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

.link {
  font-size: 24px;
  color: #f88e;
  text-transform: uppercase;
}

.link::after {
  content: "";
  display: inline-block;
  border: 6px solid transparent;
  border-top-color: #f88e;
}

.link:hover::after {
  border-top-color: blueviolet;
}

.link:hover {
  text-shadow: 0 0 8px #3f3f3f;
}

.link:active {
  color: palegreen;
}

.link:focus {
  outline: none;
  background-color: crimson;
}

.link:visited {
  color: magenta;
}

.text-block {
  text-align: center;
}

.text-block::after {
  content: '';
  display: inline-block;
  width: 80px;
  border: 2px solid goldenrod;
  margin-top: 50px;
}

.text-block-title {
  font-size: 24px;
  font-family: sans-serif;
  text-transform: uppercase;
}

.text-block-content {
  font-family: sans-serif;
  margin-top: 30px;
}

.gallery {
}

.gallery-item {
  float: left;
  display: inline-block;
  width: calc(100% / 3 - 30px);
  padding: 75px 0;
  margin-right: 45px;
  margin-bottom: 30px;
  background-color: teal;
}

.gallery-item:nth-child(2n) {
  background-color: powderblue;
}

.gallery-item:nth-child(3n) {
  margin-right: 0;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}




















