* {
  margin: 0;
  padding: 0;
}

.container {
  width: 1280px;
  margin: 0 auto;
  font-family: sans-serif;
}

.title-highlight {
  text-shadow: 0 0 10px gold;
}

.container p { /* weight: 11 */
  padding: 0 15px;
}

.main-text { /* weight: 10 */
  padding: 50px;
}

.card-item {
  width: calc(100% / 4 - 50px);
  background-color: teal;
}

.card-img {
  margin-bottom: 20px;
}

.card-img img {
  width: 100%;
}

.container + .title-highlight { /* weight: 20 */
  font-size: 30px;
  font-weight: 700;
}

.strong-blue {
  font-size: 18px !important;
  font-weight: 700;
  color: cornflowerblue;
}















