* {
    font-family: 'Ubuntu', Arial, sans-serif;
}
.page-bg {
    background-image: url("../img/background-picture.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow-y: scroll;
}
.header-zone {
    background: rgba(0, 0, 0, 0.4);
}
.nav-container {
    width: 1154px;
    margin: 0 auto;
    padding: 30px 0;
}
.company-name {
    float: left;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 22px;
    color: #ffffff;
    cursor: pointer;
    margin: 0;
}
.company-name:hover {
    color:#3CB878;
    transition: 2s;
}
.authorization {
    float: right;
    font-size: 14px;
    color: #ffffff;
    line-height: 21px;
    text-decoration: none;
    word-spacing: 3px;
}
.login {
    color: #ffffff;
    text-transform: capitalize;
}
.login:hover {
    color: #3CB878;
    transition: 2s;
}
 .signup {
     color: #ffffff;
     text-transform: capitalize;
 }
.signup:hover {
    color: #3CB878;
    transition: 2s;
}
.authorization::before {
    content: '';
    height: 19px;
    border-left: 1px solid transparent;
    margin-right: 28px;
    border-left-color: rgba(255, 255, 255, 0.9);
    opacity: 0.5;
}
.icon-bar{
    float: right;
    width: 170px;
}
.icon-link {
    display: inline-block;
    background-image: url("../img/css_sprites.png");
    width: 26px;
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
}
.icon-calendar {
   background-position: -176px -30px;
}
.icon-calendar:hover {
   background-position: -97px -29px;
}
.icon-forum {
    background-position: -504px -30px;
}
.icon-forum:hover {
    background-position: -592px -30px;
}
.icon-journey {
    background-position: -256px -30px;
}
.icon-journey:hover {
    background-position: -336px -30px;
}
.user-card {
    background: #FFFFFF;
    width: 320px;
    padding: 30px 60px;
    position: relative;
    top: calc((100vh - 84px - 653px) / 2);
    margin: 0 auto;
}
.user-card-signup {
    float: left;
    font-size: 20px;
    line-height: 21px;
    color: #434343;
}
.user-card-signup::before {
    content: '';
    width: 18px;
    height: 18px;
    background: #3CB878;
    position: absolute;
    top: 29px;
    left: 0;
}
.user-card-login {
    float: right;
    display: inline-block;
    font-size: 14px;
    line-height: 21px;
    color: #3CB878;
}
.social-nets {
    margin-top: 19px;
}
.facebook-link {
    float: left;
    padding: 17px 20px 17px 69px;
    font-size: 16px;
    background-color: #305DB8;
    border-radius: 4px;
    position: relative;
    color: #FFFFFF;
    text-transform: capitalize;
}
.facebook-icon {
    width: 10px;
    height: 20px;
    position: absolute;
    left: 21px;
}
.facebook-link::before,
.google-link::before {
    content: '';
    display: block;
    width: 2px;
    height: 28px;
    background-color: #2B0D09;
    opacity: 0.1;
    position: absolute;
    bottom: 10px;
    left: 46px;
}
.google-link {
    padding: 17px 30px 17px 77px;
    text-decoration: none;
    font-size: 16px;
    background-color: #DF4A32;
    border-radius: 4px;
    float: right;
    position: relative;
    color: #FFFFFF;
    text-transform: capitalize;
}
.google-icon {
    width: 25px;
    height: 16px;
    position: absolute;
    left: 15px;
}
.or {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 21px;
    color: #848484;
}
.or::before {
    content: '';
    display: inline-block;
    border: 1px solid transparent;
    border-top-color: #E6E6E6;
    width: 42%;
    margin-right: 15px;
    text-align: left;
}
.or::after {
    content: '';
    display: inline-block;
    border: 1px solid transparent;
    border-top-color: #E6E6E6;
    width: 42%;
    margin-left: 15px;
    text-align: right;
}
.registration-card {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    background-color: transparent;
    font-size: 14px;
    line-height: 20px;
    color: #BEBEBE;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.registration-card:focus {
    outline: none;
    background: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
.agreement {
    font-size: 14px;
    line-height: 21px;
    color: #434343;

}
.agreement-point {
    margin-right: 10px;
    margin-top: 18px;
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.agreement-point+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.agreement-point+label::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #f3f3f3;
    border-radius: 1px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}
.agreement-point:checked+label::before {
    background-image: url("../img/Vector 1.png");
}
.agreement-green {
    color: #3CB878;
}
.created-btn {
    margin-top: 28px;
    width: 100%;
    border: none;
    padding: 11px;
    background: #3CB878;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-transform: capitalize;
    cursor: pointer;
}



.clearfix::after {
    content: '';
    display: block;
    clear: both;
}