body {
  padding: 0;
  margin: 0;
}
.parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 200px;
}

.parallax__item {
  transform: translateZ(0);
  position: absolute;
  width: 100%;
}
.parallax__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.parallax__item_second {
  transform: translateZ(-100px);
}
