:root {
  --space-btw-els: 15px;
  --column-amount: 4;
  --column-width: calc(100% / var(--column-amount) - (var(--space-btw-els)*2) - 3px);
  --gogi: teal;
}

.parent {
  background-color: teal;
}

.dummy-block {
  display: inline-block;
  width: var(--column-width);
  padding: 50px 0;
  margin: 0 var(--space-btw-els);
  background-color: blanchedalmond;
  box-shadow: 0 0 2px 1px black;
}

.not-menu {
  text-align: center;
  background-color: #3f3f3f;
}

.not-item {
  display: inline-block;
  padding: 20px 35px;
  color: white;
  border: 1px solid transparent;
  border-right-color: white;
  border-left-color: white;
}












