* {
  font-family: 'DM Mono', sans-serif;
}
.man-on-chair {
  font-size: 90px;
  color: #f0f;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.navbar {
  padding: 30px 0;
  background-color: peru;
}

.navbar-logo {
  float: left;
  padding: 30px 75px;
  background-color: lightblue;
  vertical-align: bottom;
}

.navbar-contacts {
  float: right;
  vertical-align: bottom;
}

.navbar-contacts-text {
  font-size: 16px;
  color: mediumvioletred;
  margin: 7px 0;
}

.item {
  float: left;
  width: calc(100% / 6 - 30px);
  padding: 15px;
}
.item-content {
  height: 150px;
  background-color: palegreen;
}

.header-zone {
  padding: 50px 0;
  background-color: teal;
  margin-bottom: 30px;
}

.sidebar {
  float: left;
  width: 350px;
  height: 500px;
  background-color: orange;
}

.content {
  float: right;
  box-sizing: border-box;
  width: 850px;
  padding: 30px;
  font-size: 24px;
  background-color: yellow;
}

.footer-zone {
  padding: 50px 0;
  background-color: tomato;
  margin-top: 30px;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}