.wrapper {
  height: 100vh;
  overflow-y: scroll;
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

.social-item {
  margin: 30px;
  width: 30px;
  height: 30px;
  background-color: #3d3d3d;
}

.location-icon {
  background-image: url("../img/form_spritesheet.png");
  background-repeat: no-repeat;
  background-position: -9px -168px;
}

.fb-icon {
  background-image: url("../img/form_spritesheet.png");
  background-repeat: no-repeat;
  background-position: -10px -390px;
}

.feedback-item {
  padding: 15px;
  border-radius: 5px;
  background-color: #333;
  color: palegreen;
}

.feedback-item-wrap {
  color: white;
}

/*input[type=checkbox].feedback-item {*/
/*  display: none;*/
/*}*/
.feedback-check {
  display: none;
}

.feedback-checkmark {
  display: none;
  width: 10px;
  height: 10px;
  border: 2px solid transparent;
  border-top-color: palegreen;
  border-right-color: palegreen;
  transform: rotate(120deg);
}

.feedback-check:checked ~ .feedback-checkmark {
  display: inline-block;
}

.feedback-item::placeholder {
  color: palegreen;
}

.feedback-item:focus {
  outline: none;
  box-shadow: 0 0 0 1px #fff;
}



















