.nav-container {
    width: 1280px;
    margin: 0 auto;
}
.header-zone {
    margin-top: 30px;
    margin-bottom: 30px;
}
.company-name {
    display: inline-block;
    font-size: 80px;
    color: #000000;
    margin-bottom: 30px;
}
.blue-text {
    color: #1eb8ff;
}
.header-menu {
    text-align: center;
    background: #35444F;
}
.header-menu-link {
    display: inline-block;
    padding: 25px;
    font-size: 24px;
    color: #FFFFFF;
    border-left: 1px solid #000000;
}
.header-menu-link:hover {
    background: #222f3a;
    border: 1px solid #FFFFFF;
}
.header-link-border-right {
    border-right: 1px solid #000000;
}
.left-sidebar {
    float: left;
    display: inline-block;
    vertical-align: top;
    list-style: none;
    width: 300px;
    border: 1px solid #000000;
}
.left-sidebar-item {
    padding: 25px 0 25px 45px;
}
.left-sidebar-item:after:hover {
    background: #DBDBDB;
}
.left-sidebar-item-link {
    font-size: 26px;
    color: #485863;
}
.main-section {
    float: right;
    display: inline-block;
    vertical-align: top;
    margin-left: 50px;
    width: 920px;
}
.main-section:hover {
    transform: scale(0.9);
}
.main-section-picture {
    padding: 75px 300px;
    border: 1px solid #000000;
}
.main-section-picture-userpic {
    width: 100%;
}
.main-section-text {
    margin: 40px 0;
    line-height: 1.5;
    font-size: 18px;
    color: #2C2C2C;
}
.bottom-menu {
    box-sizing: border-box;
    padding: 20px 25px;
    background: rgba(99, 105, 110, 0.48);
    margin-top: 30px;
    margin-bottom: 30px;

}
.bottom-menu-nav {
    display: inline-block;
}
.bottom-menu-link {
    display: inline-block;
    font-size: 28px;
    color: #0C1927;
    margin: 0 15px;
}
.bottom-menu-link:hover {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}
.bottom-menu-copyright {
    float: right;
    display: inline-block;
    font-size: 24px;
    color: #010101;
    margin-top: 5px;
    /*margin-left: 90px;*/
}
.clearfix::after {
    content: '.';
    display: block;
    clear: both;
}
.class-name {
    padding: 20px;
    background: red;
    position: sticky;
    margin-right: 50px;
    margin-left: 100px;
    z-index: -1;

}