* {
    font-family: Roboto, Arial, sans-serif;
}
.gallery {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*justify-content: space-between;*/
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
}
.gallery-item {


}
.gallery__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gallery__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 285px;
    background: linear-gradient(to bottom, gray 0%, gray 50%, black 50%, black 0%);
}
.gallery__title {
    margin-bottom: 25px;
}
.gallery__logo {
    align-self: center;

}
.gallery__big {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*align-items: center;*/
    margin-top: 5px;
}

.gallery__right {
    display: flex;
    flex-direction: column;
    /*align-items: stretch;*/
    justify-content: space-between;
    width: 445px;
    /*flex-wrap: wrap;*/
}

.gallery__people,
.gallery__wine {
 }
.rest__box {
    max-width: 1110px;
    margin: 20px auto;
    background: linear-gradient(to bottom, white 0%, white 50%, lightgray 50%, lightgray 0%);

}
.gallery__rest {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.restor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*justify-self: center;*/
    align-items: center;
    width: 285px;
    height: 35px;
}
.house {
    width: 40px;
    height: 30px;
}
.restor__img {
    width: 920px;
    height: 480px;
}

.gallery__article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.logo {
    width: 200px;

}




/*.gallery__people {*/
/*    align-items: flex-start;*/
/*}*/
    /*width: 150px;*/
    /*height: 150px;*/
    /*background-color: darkgray;*/
    /*border: 2px solid #000;*/
    /*box-sizing: border-box;*/
    /*display: flex;*/
    /*font-size: 48px;*/
    /*justify-content: center;*/
    /*align-items: center;*/
/*.gallery-item +.gallery-item {*/
/*    margin-left: 20px;*/

/*}*/
/*.gallery__size__big {*/
/*    width: 300px;*/
/*    height: 300px;*/
/*}*/