* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.page-head {
    padding: 400px 0 110px 0;
}

.page-head-bg {
    background: url("../img/main-top-background.png");
    background-size: cover;
}

.page-head-title {
    font-size: 48px;
    text-transform: uppercase;
    color: #fff;
}

.page-head-subtitle {
    font-size: 18px;
    color: #fff;
}

.page-head-slogan {
    display: inline-block;
    text-transform: uppercase;
    font-size: 54px;
    color: #fff;
    padding: 35px 25px;
    margin-top: 20px;
    background-color: rgba(0,0,0, 0.4);
    border: 1px solid #fff;
    border-radius: 3px;
}

.yellow-text {
    color: #F1AD1D;
}

.mr35 {
    margin-right: 35px;
}

.gogi {
    padding: 100px;
    /*bg*/
    background: #f0f;
    /*mb. mr, ml, mt, m*/
    margin-bottom: 100px;
}
.gogi-2 {
    padding: 50px;
    background: #0f0;
    margin-top: 80px;
}








