.container {
  width: 1200px;
  padding: 0 10px;
  background-color: #a8a8a8;
}

.block {
  display: inline-block;
  width: 150px;
  height: 50px;
  background-color: teal;
  margin: 5px;
  vertical-align: bottom;
}

.block-bigger {
  width: 200px;
  height: 80px;
}