.container {
  width: 1280px;
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
}

.photo-wrapper {
  width: 300px;
  padding: 40px;
  background-color: palegreen;
}

.photo {
  width: 100%;
}

.photo-wrapper:hover .photo {
  content: url("https://scontent-yyz1-1.cdninstagram.com/v/t51.2885-15/sh0.08/e35/s640x640/82615342_480563085973582_8655914985768599294_n.jpg?_nc_ht=scontent-yyz1-1.cdninstagram.com&_nc_cat=110&_nc_ohc=peGClvTRZ54AX_Ax2-f&oh=f05e1632727dc393dd5d4a54cbceea3c&oe=5ECDCCF2");
}

.details {
  width: 300px;
  padding: 20px;
  background-color: gold;
}

.details-price {
  float: left;
}

.details-link {
  float: right;
  font-size: 18px;
}

.details-link::after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 2px solid transparent;
  border-top-color: magenta;
  border-right-color: magenta;
  transform: rotate(45deg);
  margin-left: 15px;
}

.gallery-item {
  float: left;
  display: inline-block;
  width: calc(100% / 3 - 40px);
  height: 100px;
  background-color: royalblue;
  margin-right: 60px;
  margin-bottom: 10px;
}

.gallery-item:nth-child(3n) {
  margin-right: 0;
}

.gallery-item:nth-child(4n-1) {
  background-color: red;
}

.fake-table-item {
  display: inline-block;
  padding: 78px;
  background-color: #0a2;
  margin: 5px;
}

.fake-table-item:nth-child(2n+1) {
  background-color: #9a2;
}

.fake-table-item:nth-last-child(2) {
  transform: rotate(15deg);
}

.fake-table-item:first-line {
  font-size: 24px;
  font-weight: bold;
}

.fake-table-item:first-letter {
  font-size: 36px;
  color: mediumvioletred;
}

.child-elem {
  display: inline-block;
  padding: 100px;
  background-color: teal;
  margin: 6px;
}

article.child-elem {
  background-color: olive;
}
main.child-elem {
  background-color: tomato;
}

.child-elem:nth-of-type(3n) {
  transform: scale(1.15);
  box-shadow: 0 0 5px #333;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}