* {
    font-family: 'Ubuntu', Arial, sans-serif;
}
.main__table {
    margin: 0 auto;
    border: 1px solid #000;
    width: 300px;
    text-transform: capitalize;
    font-size: 18px;
    border-collapse: collapse;
    text-align: center;

}
.line,
.cell {
    border: 1px solid #000;
}
.line:nth-child(even) {
    background-color: lightblue;
}
/*.line:nth-child(odd)*/
/*.line:nth-child(2n+1)*/
/*нечетные строки*/