* {
    font-family: "Open Sans", Arial, sans-serif;
}
.container-pg {
    background: #F2F2F2;
}
.head-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #313131;
}
.head-logo {
    display: flex;
    align-items: center;
}
.logo-img {
    margin: 0 27px;
}
.logo-text {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: bold;
    color: #FFFFFF;
    margin: 0;
}
.nav-menu {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}
.nav-item {
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
}
.logo-link {
    color: #FFFFFF;
}
.logo-link:hover {
    color: #14B9D5;
}
.search {
    text-align: center;
    background-color: #000000;
}
.search-img {
    padding: 25px;
}
.greeting {
    background-image: url("../img/header-bg-2.jpeg");
    background-size: cover;
    background-attachment: fixed;
}
.greeting-container {
    width: 635px;
    margin: 0 auto;
    padding-top: 160px;
    padding-bottom: 75px;
    display: flex;
    flex-direction: column;
}
.latest-news {
    font-size: 27px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.news-btn {
    margin: 40px auto;
    display: flex;
    justify-content: space-evenly;
    width: 70%;
}
.btn {
    font-weight: 600;
    font-size: 18px;
    border-radius: 5px 5px;
    border: transparent;
    text-transform: capitalize;
    color: #FFFFFF;
}
.btn-subscribe {
    padding: 16px 20px;
    background-color: #89CA62;
}
.btn-articles {
    padding: 16px 30px;
    background-color: #14B9D5;
}
.posts-title {
    font-size: 27px;
    color: #18B4CF;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.posts-container {
    width: 1200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 860px;
    align-content: space-between;
    margin: 0 auto;
}
.post-item {
    margin-bottom: 20px;
    background: #FFFFFF;
}
.post-text {
    text-align: center;
    color: #353A3D;
    font-weight: bold;
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.partners {
    background-image: url("../img/Layer 4 1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.partners-block {
    width: 885px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 200px;
    padding-top: 100px;
    padding-bottom: 190px;
    justify-items: center;
    align-items: center;
}
.heading {
    grid-column: span 4;
    grid-column-end: 5;
}
.article-title {
    font-size: 32px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.enviroment-cards {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.best-card {
    width: 100%;
}
.news-block-container {
    background-color: #FFFFFF;
    width: 1115px;
    margin: 0 auto;
}
.news-block {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 45px;
    grid-row-gap: 45px;
}
.news-item-big {
    display: grid;
    grid-column: span 3;
    grid-template-columns: 3fr 2fr;
}
.news-item-multi {
    grid-column: span 2;
}
.img-card {
    width: 100%;
}
.news-block-big {
    text-align: right;
    background: #F9F7F7;
    padding: 20px;
}
.news-block-small {
    text-align: center;
    background: #F9F7F7;
}
.title-text {
    font-size: 18px;
    color: #353A3D;
    padding: 10px 0;
}
.title-text-small {
    font-size: 18px;
    color: #353A3D;
    padding: 30px 0;
}
.news-text {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: #5B6469;
}
.footer-block {
    background-color: #000000;
}
.container-footer {
    width: 1115px;
    margin: 0 auto;
}
.info-block {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    padding: 30px 0;
}
.footer-text {
    font-size: 13px;
    color: #FFFFFF;
}
.dev-company-logo {
    text-align: end;
}
