.container  {
  font-family: 'Montserrat', sans-serif;
  max-width: 1280px;
  margin: 0 auto;
}

/*input {*/
/*  background-color: #999;*/
/*  border-radius: 5px;*/
/*}*/

/*.long-text {*/
/*  resize: none;*/
/*}*/

.subscribe-form {
  margin-top: 50px;
  display: inline-block;
  border: 1px solid #c7c7c7;
}

.subscribe-input {
  float: left;
  width: 600px;
  border: none;
  padding: 25px 30px;
  font-size: 14px;
  background-color: white;
}

.subscribe-input::placeholder {
  font-style: italic;
}

.subscribe-button {
  float: left;
  color: white;
  border: none;
  padding: 26px 45px;
  text-transform: capitalize;
  background-color: #f1ad1d;
}

.feadback {
  padding: 50px 0;
}

.feadback-form-wrapper {
  width: 50%;
  float: left;
}

.feadback-title {
  width: 60%;
  font-size: 18px;
  padding: 23px 16px 16px;
  background-color: black;
  color: white;
}

.feadback-subtitle {
  font-size: 14px;
  line-height: 1.25;
  margin: 25px 0;
}

.feadback-input {
  box-sizing: border-box;
  width: calc(100% / 2 - 25px);
  float: left;
  padding: 15px;
  border-radius: 3px;
  border: 1px solid #c7c7c7;
  background-color: transparent;
}

.feadback-input::placeholder {
  font-style: italic;
}

.feadback-input-right {
  float: right;
}

.feadback-message {
  font-family: inherit;
  width: 100%;
  resize: none;
  margin: 20px 0;
}

.feadback-button {
  float: left;
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px 40px;
  background-color: #f1ad1d;
  color: whitesmoke;
  margin-right: 30px;
}
















.yellow-text {
  color: #f1ad1d;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}