.container {
  width: 1280px;
  margin: 0 auto;
  overflow: hidden;
}

.main-nav-wrapper {
  padding: 20px;
  background-color: tomato;
}

.main-nav-company {
  float: left;
  font-size: 32px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.nav {
  float: right;
}

.nav-item {
  display: inline-block;
  padding: 10px 0;
}

.nav-link {
  display: inline-block;
  margin: 0 20px;
}

.main-img {
  float: left;
  margin-left: 10px;
}

.main-text {
  background-color: teal;
  padding: 10px;
}

.footer-zone {
  padding: 30px;
  background-color: darkorange;
}

.clear-floats {
  clear: both;
}

.offer {
  padding: 50px;
  background-color: olive;
}

.offer-secondary {
  float: left;
  padding: 30px;
  background-color: indianred;
}

.offer-primary {
  float: right;
  padding: 60px 30px;
  background-color: paleturquoise;
}

.clearfix::after {
  content: '';
  height: 0;
  display: block;
  clear: both;
}

