* {
    font-family: 'Arimo', Arial, sans-serif;
}
.main-table {
    /*background: #FFFFFF;*/
    border: 20px solid #3A4965;
    width: 1192px;
    border-collapse: collapse;
    text-transform: uppercase;
    margin: 0 auto;
}
.table, .cell {
    border: 2px solid #e1e1e1;
    text-align: center;
    vertical-align: middle;
}
.line {
    background-color: #F2F2F2;
    height: 72px;
}
.line:nth-child(even) {
    background-color: #E3E3E3;
}
.head-line {
    background-color: #FAFAFA;
    font-size: 18px;
    color: #484848;
}
.second-head-line {
    height: 90px;
}
.price {
    position: relative;
    font-size: 60px;
    font-weight: bold;
    text-align: left;
    margin-left: 30px;
}
.price-cent {
    position: absolute;
    top: -5px;
    display: inline-block;
    font-size: 24px;
    padding-bottom: 10px;
}
.price-plan {
    position: absolute;
    top:20px;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}
.column-atlantis {
    background-color: #89C331;
    font-size: 24px;
    color: #FFFFFF;
}
.column-red {
    background-color: #F04A56;
    font-size: 30px;
    color: #FFFFFF;
}
.column-elm {
    background-color: #20807C;
    font-size: 24px;
    color: #FFFFFF;
}
.head-cell {
    font-size: 30px;
    color: #484848;
}
.bg-footer {
    background-color: #EEEEEE;
    height: 90px;
}
.btn-form {
    width: 195px;
    height: 54px;
    font-size: 16px;
    color: #FFFFFF;
    border-radius: 5px 5px;
    border: transparent;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.27);
    text-transform: uppercase;
    cursor: pointer;
}
.btn-grey {
    background: #484848;
    border-bottom: 9px solid #404040;
}
.btn-grey:hover {
    background-color: #707070;
    box-shadow: 5px 5px 5px grey;
    transition: 1s;
}
.btn-atlantis {
    background-color: #89C331;
    border-bottom: 9px solid #79B027;
}
.btn-atlantis:hover {
    background-color: #A2E83B;
    box-shadow: 5px 5px 5px grey;
    transition: 1s;
}
.btn-red {
    background-color: #F04A56;
    border-bottom: 9px solid #DF3A46;
}
.btn-red:hover {
    background-color: #F47C84;
    box-shadow: 5px 5px 5px grey;
    transition: 1s;
}
.btn-elm {
    background-color: #20807C;
    border-bottom: 9px solid #16736F;
}
.btn-elm:hover {
    background-color: #24A8A3;
    box-shadow: 5px 5px 5px grey;
    transition: 1s;
}
.table-icon{
    color: #848484;
    font-size: 24px;
    margin-right: 5px;
}
